@keyframes backanime{
    0%{filter: blur(30px);} 
    100%{filter: blur(0px);}
}

@keyframes backanime-reverse{
    0%{filter: blur(0px);} 
    100%{filter: blur(30px);}
}

@keyframes letra{
    0%{bottom:0px;} 
    40%{bottom: 70px; font-style: italic;}
    100%{bottom: 70px; font-style: italic;}

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
   
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#background{
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat; background-position: center;
    background-size: cover;
    filter: blur(30px);
    animation-name: backanime;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-direction: alternate;}

h1{
    display: none;
    animation-name: letra;
    animation-duration: 2s;
    position: relative; right: 30px;
    z-index: 1;
    color: white;
}

.btnh1{display: flex; flex-direction: column;}

#btn{
cursor: pointer;
background-color: rgb(255, 255, 255);
z-index: 1;
height:150px;
width: 150px;
border: 1px solid white;
border-radius: 50%;
}
#btn img:hover{
    transform: scale(0.98);
    
}

#btn img{
    border-radius: 50%;
    opacity: 100%;
    contain: cover;
    width: 100%; 
    height: 100%;
}



